.INmaincontainer {
  margin: 2%;
  margin-top: 3%;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
}

.sitecontainer {
  /*box to look like a site that emcompasses each table*/
  align-items: center;
  width: 12%;
  padding: 1%;
}

.table-heading {
  text-align: center;
  transform: translateY(-50%);
  font-size: 105%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* centers text in cells by default */
  font-size: 75%;
}

.table thead th {
  padding-bottom: 8%;
}

.colour-icon {
  margin: 5%;
  width: 30%;
  vertical-align: middle; /* aligns image with checkbox */
}

.eureka-button {
  background-color: transparent;
  border: none;
  margin-top: -24%;
}

.eureka-icon {
  width: 120%;
  cursor: pointer;
}

.active {
  background: black; /*temp to check if local storage is working*/
}
