body {
  background-color: #1e2124;
  color: white;
  font-family: "Funnel Sans", sans-serif;
  align-items: center;
}

#gamecontainer {
  display: inline-block;
  padding: 20px;
  background-color: #1e2124;
  border: none;
}

#gameimage {
  width: 300px;
  border-radius: 16px;
  box-shadow: 12px 12px #16181b;
}

#gameimage:hover {
  transform: translateY(12px) translateX(12px);
  box-shadow: 0px 0px;
}
